<tbody>
    <td>1</td><td>Moroz Tatas</td><td>Gagarina st 51,87</td><td>063-744-55-25</td>
</tbody>
<tbody>
    <td>2</td><td>Rachenko Bogdan</td><td>Geroev Dnepra st 69,220</td><td>098-908-31-46</td>
</tbody>
<tbody>
    <td>3</td><td>Vynuk Katya</td><td>Vatutina st 81,133</td><td>099-236-94-75</td>
</tbody>
<tbody>
    <td>4</td><td>Lutvin Maxim</td><td>Gagarina st 51,</td><td>050-439-84-19</td>
</tbody>
<tbody>
    <td>5</td><td>Kotenko Ocsana</td><td>Geroev Dnepra st 85,59</td><td>099-732-49-10</td>
</tbody>